# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint

# Import API key
from g_key import key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [14]:

city_df = pd.read_csv('output_data/cities.csv')
city_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,codrington,0,AU,1580270296,63,-38.27,141.97,68.23,4.43
1,1,balkanabat,11,TM,1580270719,42,39.51,54.37,40.32,13.98
2,2,jamestown,90,US,1580270720,86,42.10,-79.24,30.99,11.41
3,3,tuktoyaktuk,90,CA,1580270720,75,69.45,-133.04,-18.40,5.82
4,4,yumen,0,CN,1580270288,32,40.28,97.20,26.40,11.25

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps
gmaps.configure(api_key=key)

In [15]:
# save lat and lng under locations var
locations = city_df[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = city_df["Humidity"]

# Plot Heatmap
fig = gmaps.Map()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Map(configuration={'api_key': 'AIzaSyAVdCq1pcWspOA3Jn_N5qu7lT4tepPA7EI'}, data_bounds=[(-48.59463222006762, -1â€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
ideal_df = city_df.loc[city_df['Max Temp'] < 80, :]
ideal_df = ideal_df.loc[ideal_df['Max Temp'] > 70, :]
ideal_df = ideal_df.loc[ideal_df['Wind Speed'] < 10, :]
ideal_df = ideal_df.loc[ideal_df['Cloudiness'] == 0, :]
ideal_city_data_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
121,121,parati,0,BR,1580267866,66,-23.22,-44.71,72.12,5.57,Apple Inn House Paraty
303,303,cockburn%20town,0,TC,1580267888,70,21.46,-71.14,77.67,8.41,Bohio Dive Resort
314,314,yaan,0,NG,1580267889,16,7.38,8.57,71.64,4.41,NaN
318,318,santa%20cruz%20del%20sur,0,CU,1580267890,68,20.71,-78.00,77.34,6.98,NaN
363,363,piacabucu,0,BR,1580267895,75,-10.41,-36.43,78.89,7.92,Pousada Raizes

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [24]:
hotel_df = ideal_df
hotel_df['Hotel Name'] = np.nan

t_search = "Hotel"
t_radius = 5000
t_type = "lodging"

idx = 0
for index, row in hotel_df.iterrows():
    # parameters dictionary
    params = {
        "location": f"{row['Lat']}, {row['Lng']}",
        "keyword": t_search,
        "radius": t_radius,
        "type": t_type,
        "key": key
    }

    # api url
    api_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # request using param dictionary
    response = requests.get(api_url, params=params)
    r_json = response.json()
    results = r_json['results']
    if len(results) > 0:
        name = r_json['results'][0]['name']
        hotel_df.iloc[idx, -1] = name
    idx = idx + 1

small_city_df = hotel_df

In [25]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in small_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [26]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in small_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [27]:
# Add marker layer ontop of heat map

# Add marker layer ontop of heat map
marker_layers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layers)

# Display Map
fig
# Display Map

Map(configuration={'api_key': 'AIzaSyAVdCq1pcWspOA3Jn_N5qu7lT4tepPA7EI'}, data_bounds=[(-51.88714658142641, -1â€¦